 body{
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #f4d04e;
}
.container{
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 16px 16px 40px 16px;
    border-radius: 20px;
    box-shadow: 8px 8px;
}
.imageboxyellow{
    border: 5px ;
    width: 366px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.don-image{
    width: 50px;
    height: 50px;
    border-radius: 55px;
    align-items: center;
}
.text-flex{
    display: flex;
    flex-direction: row;
    font-family: "Figtree", sans-serif;
    font-weight: bold;
    align-items: center;
    gap: 12px;
}

.yellowbox{
    background-color: #f4d04e;
    width: fit-content;
    height: fit-content;
    border-radius: 4%;
    gap: 8%;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
}
.Categories{
    margin: 0;
    text-align: center;
    font-family: "Figtree", sans-serif;
}

.Large-text{
    font-family: "Figtree", sans-serif;
    margin: 0;
}

.Large-text:hover{
    color: #f4d04e;
}

.Publish-text{
    font-family: "Figtree", sans-serif;
}

.content{
    font-family: "Figtree", sans-serif;
    color: grey;
}